.navbar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 0px;
    padding-right: 30px;

   }

 .navbar div {
  padding: 7px;
  font-weight: bold;
  font-size: 20px;
 
 }

